<!-- <p>preview-file works!</p> -->
<div class=" display-5 bg-light py-5 m-4 p-4">
    <form action="">
        <div class="form-group" id="preview-file">
            <!-- <label for="exampleFormControlTextarea1">Show preview</label> -->
            <button type="submit" class="btn btn-primary btn-lg m-4">Show preview <i
                    class="fa-solid fa-file-pdf"></i></button>
            <textarea class="form-control" id="input-textarea" rows="20"></textarea>
            <!-- Adjust height by changing rows no. -->
        </div>
    </form>

    <div id="generate-questions">
        <button type="submit" class="btn btn-primary btn-lg m-4 Gbtn ">Generate Questions</button>
    </div>
</div>