<!-- <p>welcome works!</p> -->
<div class="welcome">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- slide_1 -->
      <div class="carousel-item active" data-bs-interval="10000">
        <div class=" display-5 bg-light py-5 p-3">
          <h1 class="fw-bold ">Welcome To EasyQ - AI Based question & answer generation tool</h1>
          <p class="display-6 py-3">Welcome User to our website.Plaese upload file or document below in given option.
          </p>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
      </div>
      <!-- slide_2 -->
      <div class="carousel-item" data-bs-interval="2000">
        <div class=" display-5 bg-light py-5 p-3">
          <h1 class="fw-bold ">2. Welcome To EasyQ - AI Based question & answer generation tool</h1>
          <p class="display-6 py-3">Welcome User to our website.Plaese upload file or document below in given option.
          </p>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>
      <!-- slide_3 -->
      <div class="carousel-item">
        <div class=" display-5 bg-light py-5 p-3">
          <h1 class="fw-bold ">3. Welcome To EasyQ - AI Based question & answer generation tool</h1>
          <p class="display-6 py-3">Welcome User to our website.Plaese upload file or document below in given option.
          </p>
        
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- <div class=" display-5 bg-light py-5 p-3">
  <h1 class="fw-bold ">Welcome To EasyQ - AI Based question & answer generation tool</h1>

  <p class="display-6 py-3">Welcome User to our website.Plaese upload file or document below in given option.</p>
</div> -->

