<!-- <p>update-file works!</p> -->

<div class=" display-6 bg-light m-4 p-4">
  <form>

    <div class="form-group">
      <label for="formFileLg" class="form-label fw-bold">Upload File <i class="fa-solid fa-file-arrow-up"></i></label>
      <input type="file" id="formFileLg" class="form-control form-control-lg">

      <!-- <button type="reset" class="btn btn-primary btn-lg m-4">Remove</button> -->
      <input type="reset" value="Remove" class="btn btn-primary btn-lg m-4">
      <input type="submit" value="Submit" class="btn btn-primary btn-lg" >
      <!-- <button type="submit" class="btn btn-primary btn-lg ">Submit</button> -->
    </div>

    <!-- <div class="form-group">
      <label for="exampleFormControlFile1" class=" fw-bold">Upload file</label> <br>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
      <br>
      <button type="reset" class="btn btn-primary m-4">remove</button>
      <button type="submit" class="btn btn-primary ">Submit</button>
    </div> -->

  </form>
</div>